NODE_VERSION=
NODE_ENV=
HOST=
PORT=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
PLAYER_DB=
CARD_DATA_DIR=
IMAGE_CACHE_DIR=
TRUST_RENDER_PROXY=
LOCAL_BATTLE_LAB=
STARTER_PACKS=
PACK_CAPACITY=
PACK_REGEN_MS=
TRADE_EXPIRY_MS=
PACK_WEIGHTS=
PACK_EMPTY_POOL=
RECONNECT_MS=
LOBBY_IDLE_MS=
BATTLE_IDLE_MS=
CARD_CONFIG=
TYPE_CONFIG=
WIKIMEDIA_USER_AGENT=
DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=
DEEPSEEK_BASE_URL=
DEEPSEEK_THINKING=
JEV_API_KEY=
JEV_MODEL=
CARD_CATALOGUE=
SIM_GAMES=
SIM_CORRECT_PROBABILITY=
SIM_MAX_TURNS=
SIM_SEED=
